# Ignorer les node_modules dans ./backend
./backend/node_modules/

# Ignorer les node_modules dans ./gestion-personnes-emplois
./gestion-personnes-emplois/node_modules/

# Ignorer tous les node_modules (si tu veux ignorer ceux de tous les sous-répertoires)
node_modules/

# Ignorer les fichiers de configuration de VS Code
.vscode/

./gestion-personnes-emplois/.DS_Store
./gestion-personnes-emplois/dist


# local env files
./gestion-personnes-emplois/.env.local
./gestion-personnes-emplois/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
